

<!-- first navbar start -->
<div class="header bg-light">
  <nav class="navbar navbar-expand-lg container navbar-light bg-light p-3">
    <a class="navbar-brand fs-1" href="#">Nor-Shipping 2019^</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-brand ml-auto d-flex flex-wrap align-items-center">

        <div class="col-12 col-md-4 small-div div-1 mb-3 mb-md-0">
          <span style="color: darkgrey;">Deals</span>
          <h2 style="color: rgb(20, 20, 50);">43</h2>
        </div>

        <div class="col-12 col-md-4 small-div div-2 mb-3 mb-md-0">
          <span style="color: darkgrey;">Total Value[NOK]</span>
          <h2 style="color: rgb(20, 20, 50);">4.14 mIn</h2>
        </div>

        <div class="col-12 col-md-4 small-div div-3 mb-3 mb-md-0">
          <span style="color: darkgrey;">Hit Rate</span>
          <h2 style="color: rgb(20, 20, 50);">10%</h2>
        </div>

        <div class="col-12 col-md-4 small-div div-4 mb-3 mb-md-0">
          <span style="color: darkgrey;">Deals Won</span>
          <h2 style="color: rgb(20, 20, 50);">12/65</h2>
        </div>

        <div class="col-12 col-md-4 small-div div-5 mb-3 mb-md-0">
          <span style="color: darkgrey;">New Clients</span>
          <h2 style="color: rgb(20, 20, 50);">8/12</h2>
        </div>

        <div class="dropdown">
          <a class="user-icon" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user ms-4 fs-1"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">My Items</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

   

<!-- second navbar start -->

<div class="header bg-light mt-1">
  <nav class="navbar navbar-expand-lg container navbar-light bg-light p-3">
    <a class="navbar-brand fs-3" style="color: rgb(61, 61, 88);" href="#">Divisions</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-sec"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent-sec">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-users"></i> Exhibitors</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link fs-4" href="#"><i class="fa fa-audio-description"></i> Sales </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-behance-square"></i>  Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-arrow-circle-left"></i> Delegates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-gear"></i> Settings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>  





<!-- third navbar start -->
<div class="header  " >
  <nav class="navbar navbar-expand-lg container navbar-light  p-3" style="background-color: rgba(183, 179, 227, 0.331);
  border-radius: 4px;">
    <a class="navbar-brand fs-4" style="color: rgb(61, 61, 88);" href="#">User Board</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-third"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent-third">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link fs-4" href="#"> Deals</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link fs-4" href="#"> Activities </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#">  Statistics</a>
        </li>
       
      </ul>
    </div>
  </nav>
</div>








<!-- when hovering on user icon i display options to choose rom them -->
<script>
  $(function() {
    $('.dropdown').hover(function() {
      $(this).addClass('show');
      $(this).find('.dropdown-menu').addClass('show');
    }, function() {
      $(this).removeClass('show');
      $(this).find('.dropdown-menu').removeClass('show');
    });
  });
</script>