


.deal-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 0px;
  overflow: hidden;
  min-height: 280px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);

}

.deal-card-header {
  background-color: #007bff;
  padding: 10px;
}

.deal-card-header h3 {
  margin: 0;
  color: #fff;
}

.deal-status {
  background-color: #007bff;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 10px;
}



.deal-status:hover::before,
.deal-status:hover::after {
  opacity: 1;
}
.prop:hover{
  cursor: pointer;
}

.deal-card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.deal-card-body p {
  margin: 0;
}

.deal-card-body i {
  margin-right: 5px;
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .deal-card {
    margin-bottom: 10px;
  }
}

.bg-success-deal {
  background-color:hsla(102, 46%, 79%, 0.913);
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.8);

}

.bg-danger-deal {
  background-color:hsla(0, 45%, 79%, 0.913);
  box-shadow: 0 0 10px rgba(244, 67, 54, 0.8);


}